body {
    background: #F4F4F4;
}

/* Gallery */
.gallery {
    background: linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #FFFFFF 100%);
    padding: 24px 0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 20px;
}

.grid-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.primary-image {
    grid-row: span 2;
}

/* Tabs Bar */
.tabs-bar {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px 0px #E0E0E0;
    padding-top: 6px;
}

.tabs {
    display: flex;
    gap: 14px;
}

.tab {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #333333;
    padding: 10px 14px;
    cursor: pointer;
}

.tab.active {
    border-bottom: 3px solid var(--btn-primary);
}

/* Property Details */
.property-details {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.property-details-col {
    flex: 2;
}

.explore-area-col {
    flex: 1;
}

.property-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 1%;
    vertical-align: middle;
    margin-bottom: 14px;
    color: #1A1A1A;
}

.property-location .icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.property-location .icon img {
    height: 16.66px;
    width: 14.37px;
}

.property-location {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #333333;
}

.property-overview {
    border-radius: 6px;
    background: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 40px;
}

.overview-body {
    border-bottom: 1px solid #E0E0E0;
    padding: 24px 40px 44px 30px;
}

.overview-body .title,
.overview-footer .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    color: #181818;
    margin-bottom: 20px;
}

.overview-body .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #4F4F4F;
}


.overview-footer {
    padding: 24px 40px 44px 30px;
}

.overview-footer .facilities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
}

.overview-footer .facility {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 2%;
    color: #4F4F4F;
}
.overview-footer .facility img {
    width: 22px;
    height: 22px;
}

/* Explore Area */
.map-container {
    width: 100%;
    height: 240px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 35px;
}

.map-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-area-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1%;
    margin-bottom: 22px;
    color: #181818;
}

.explore-area .area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    color: #4F4F4F;
}

.explore-area .area-name {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 2%;
}

.area .area-distance {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: right;
}

.explore-area .area-name img {
    width: 20px;
    height: 20px;
}