.btn-group {
    display: flex;
    border: 1px solid;
}

.btn-group .btn-group-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;
}

.btn-group .btn-group-item.selected {
    background: #2F80ED0D;
    color: var(--btn-primary);
}

.btn-group .btn-group-item:not(:last-child) {
    border-right: 1px solid;
}

.badge {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2%;
    background: var(--btn-primary);
    color: #FFFFFF;
    padding: 4px 8px;
    border-radius: 6px;
}

/* Header */
.navbar {
    background: transparent;
    position: absolute;
}
.navbar h3, .nav-menu-list li > a {
    color: white;
}

/* Banner */
.banner {
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, #2969BF 0%, #144E9D 100%);
}

/* Seach Result */
.search-result {
    display: flex;
    gap: 30px;
}

/* Filter */
.btn-filter {
    height: 48px;
    background: #F2F2F2;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1%;
    color: #181818;
}

.btn-collapse {
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid #eee;
}

.bi-chevron-compact-down {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.filter {
    flex: 1;
}

.filter-card {
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
}

.filter-card-header {
    padding: 18px;
    background: #F2F2F2;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1%;
    color: #181818;
}

.filter-search .filter-card-header h3 {
    margin-bottom: 16px;
}

.filter-search .filter-card-header input {
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
}

.filter-card-body {
    padding: 18px 20px 24px 18px;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.filter-list-item {
    display: flex;
    gap: 8px;
}

.filter-list-item input {
    height: 20px;
    width: 20px;
}

.filter-list-item .count {
    margin-left: auto;
}

.filter-rating .btn-group {
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 2%;
    border-color: #E0E0E0;
    border-radius: 5px;
}

.filter-rating .btn-group .btn-group-item {
    border-color: #E0E0E0;
    padding: 4px;
}

.filter-rating .star {
    margin-left: 5px;
}

/* Result List Section */
.result-list-section {
    flex: 3;
}

.result-list-title {
    font-family: SF Pro Display;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 24px;
}

/* Sort and filter bar */
.sort-and-filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.sort-and-filter-bar .btn-group {
    width: 66.67%;
    max-width: 615px;
    min-height: 20px;
    border: 1px solid var(--btn-primary);
    border-radius: 6px;
}

.sort-and-filter-bar .btn-group .btn-group-item {
    border-color: var(--btn-primary);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2%;
    text-wrap: wrap;
    flex: 1 1 auto;
    padding: 10px 12px;
    text-align: center;
}

.dropdown-sort-by {
    width: 190px;
    height: 48px;
}

.dropdown-sort-by select {
    height: 100%;
    width: 100%;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border-radius: 6px;
    border: 1px solid #BDBDBD;
    background: white;
}

/* Result List */
.result-list {
    flex-direction: column;
    margin-bottom: 40px;
}

.result-list .cards {
    gap: 24px;
}

.result-list .card-row {
    display: flex;
    gap: 24px;
    padding: 20px 24px 20px 20px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.result-list .card-img {
    flex: 1;
    max-height: 240px;
}

.result-list .card-info {
    flex: 2;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.result-list .card-info .left-side,
.result-list .card-info .right-side {
    display: flex;
    flex-direction: column;
}

.result-list .card-info .title,
.result-list .card-info .subtitle,
.result-list .card-info .desc {
    max-width: 380px;
    /* width: 66.67%; */
}

.result-list .card-info .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1%;
    vertical-align: middle;
    color: #1A1A1A;
    margin-bottom: 7px;
}

.result-list .card-info .subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #4F4F4F;
    margin-bottom: 4px;
}

.result-list .card-info .desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 2%;
    vertical-align: middle;
    color: #4F4F4F;
    margin-bottom: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.result-list .card-info .btn {
    width: fit-content;
    border-radius: 6px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2%;
    margin-top: auto;
}

.btn-mobile {
    display: none;
}

.result-list .card-info .badges {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.result-list .card-info .right-side .offer {
    background: #EB5757;
    text-wrap: nowrap;
}


.result-list .card-info .right-side {
    align-items: flex-end;
    justify-content: flex-end;
}

.result-list .card-info .right-side .discount {
    background: #219653;
    margin-bottom: 6px;
}

.result-list .card-info .right-side .details {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: right;
    vertical-align: middle;
    color: #333333;
    margin-bottom: 6px;
}

.result-list .card-info .right-side .amount {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1%;
    text-align: right;
    vertical-align: middle;
    margin-bottom: 6px;
}

.result-list .card-info .right-side .prev-amount {
    font-size: 14px;
    color: #EB5757;
}

.result-list .card-info .right-side .current-amount {
    font-size: 20px;
    color: #333333;;
}

.result-list .card-info .tax-msg {
    font-family: SF Pro Display;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: right;
    vertical-align: middle;
    color: #333333;
}

.load-more {
    margin-bottom: 60px;
}

.load-more .btn {
    background: #2F80ED1A;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2%;
    color: var(--btn-primary);
    width: 156;
    height: 40;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    display: block;
    margin: 0 auto;
}


/* ==================================== */
/* ===== Media Queries (Laptop) ======= */
/* ==================================== */

@media (max-width: 1024px) {
    .card-row {
        flex-direction: column;
    }

    .sort-and-filter-bar {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .filter-rating .btn-group .btn-group-item {
        flex-wrap: wrap;
    }

    .dropdown-sort-by,
    .sort-and-filter-bar .btn-group {
        width: 100%;
    }

    .result-list-section {
        flex: 2;
    }

    .result-list .card-img {
        max-height: 450px;
    }

    .filter-list-item .count {
        display: none;
    }
}

/* ==================================== */
/* ====== Media Queries (Tablet) ====== */
/* ==================================== */

@media (max-width: 790px) {
    .search-result {
        flex-direction: column;
    }

    .btn-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .btn-collapse {
        display: block;
    }

    .filter {
        padding: 0px 20px;
        background: #FBFBFB;
        position: fixed;
        top:  100%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        overflow-y: auto;
        box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);
        transition: top 0.5s ease;
    }

    .filter-card {
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
    }

    .sort-and-filter-bar .btn-group {
        width: 100%;
        max-width: 100%;
    }

    .sort-and-filter-bar .btn-group .btn-group-item {
        font-size: 12px;
    }

    .result-list .card-img {
        max-height: fit-content;
    }

    .result-list .card-info {
        flex-direction: column;
        gap: 20px;
    }

    .result-list .card-info .btn-mobile {
        display: block;
        width: 100%;
    }

    .result-list .card-info .left-side .btn {
        display: none;
    }

    .result-list .card-info .badges {
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;
    }
}

/* ==================================== */
/* ==== Media Queries (Smartphone) ==== */
/* ==================================== */

@media (max-width: 495px) {
    .sort-and-filter-bar .btn-group {
        display: none;
    }

    .result-list .card-info .right-side {
        align-items: flex-start;
    }

    .result-list .card-info .desc {
        display: none;
    }

    .badge {
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 2%;
        background: var(--btn-primary);
        color: #FFFFFF;
        padding: 2px 6px;
        border-radius: 5px;
    }

    .result-list .card-info .tax-msg,
    .result-list .card-info .right-side .details {
        font-size: 12px;
    }
}